$blue:                #C2E5FC;


// OLD

$red:					        #ff470f;
$redLight:            #FFCAC4;
$redLightBorder:      #FFA6A6;
$redDark:             #D91F07;


$blueDark:            #2D75E0;

$blueLightest:        #F0F7FF;
$blueLightestBorder:  #D9ECFF;

$blueLight:           #E6F2FF;
$blueLightBorder:     #C9E3FF;

$blueLightHover:      #DBEDFF;
$blueLightHoverBorder:#B8DAFF;


$orange:              #ff651e;
$orangeLight:         #FF961F;

$green:               #6CE676;

$yellow:              #FCE758;

$greyLightest:        #E6E6E6;
$greyLight:           #B3B3B3;
$greyMid:             #808080;

$nearlyWhite:         #FAFAFA;
$offWhite:            #F0F1F2;
$greyLightest:        #DFE2E6;
$greyLight:           #B4B9BF;
$greyMid:             #737880;
$greyDark:            #41474D;
$greyDarkest:         #2B2F33;
$offBlack:            #15171A;

$open:					      'Open Sans', Arial, Helvetica, sans-serif;
$robo:					      'Roboto', Arial, Helvetica, sans-serif;
$robomono:				    'Roboto Mono', monospace;
$space:               'Space Mono', monospace;
$icons:               'Veloopti Icons', Arial, Helvetica, sans-serif;
